.post-editor {
  margin: 1em 20%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.editor-body {
  margin: 1em;
}

.post-editor-button {
  float: right;
  margin-top: 1em !important;
}

@media(max-width: 900px) {
  .post-editor {
    margin: 1em;
  }
}
